.title {
  font-size: 2.5rem;
  font-weight: 700;
}
.arrow-more {
  width: 45px;
  height: 45px;
  color: black;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s ease;
}
.arrow-more:hover {
  background-color: #ff6700;
}
.arrow-more svg {
  width: 20px;
  height: 20px;
}

.section__header {
  margin-bottom: 16px;
}

@media (max-width: 1200px) {
  .title {
    font-size: 2.7em;
  }
  .section__header {
    margin-bottom: 20px;
  }
}
@media (max-width: 992px) {
  .title {
    font-size: 2.3em;
  }
  .arrow-more {
    width: 40px;
    height: 40px;
  }
  .arrow-more svg {
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 2em;
  }
  .section__header {
    margin-bottom: 15px;
  }
}

@media (max-width: 500px) {
  .arrow-more {
    width: 35px;
    height: 35px;
  }
  .arrow-more svg {
    width: 16px;
    height: 16px;
  }
  .title {
    font-size: 1.8em;
  }
}
